<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.korapulse">

    <application
        android:label="KoraPulse – نبض الكرة"
        android:icon="@drawable/app_icon"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
